body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #000000;
  color: #000000;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
}

.genero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(255, 238, 238, 0.1);
  gap: 20px;
}

.texto {
  max-width: 80%;
}

.genero img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}